h1 {
  color: blue;
  font-size: 28pt;
}
body {
  background-image: url("../images/tom.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom, #dddddd, #ffffff);
}
